<section class="components-sec">
  <div class="container">
    <h1 hidden></h1>
    <h2 class="header-components">IT ALL ADDS UP TO ONE EXCEPTIONAL <sapn class="style-taste">TASTE</sapn> SENSATION</h2>
    <p class="text-about-choc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="ul-components">
      
      <li >
        <a class="box-style-mc">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ../img/components/milkchocolate@1x.png 224w,
              ../img/components/milkchocolate@2x.png 448w
            "
            type="image/png"
          />
          <img
            src="../img/components/milkchocolate@1x.png"
            alt=""
            class="images-components"
            width="224px"
          />
        </picture>
        <div class="overlay-comp">
          <!-- <div class="overlay-comp-cont"> -->
          <ul class="list-btn-comp">
            <h3 class="header-three-comp">Milk chocolate</h3>
            <button type="button" class="btn-comp">chocolate</button>
            <button type="button" class="btn-comp">the benefits</button>
          </ul>
          <p class="text-overlay">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
          
        </div>
        <!-- </div> -->
        <p class="text-products-mc">MILK CHOCOLATE</p>
        
        </a>
      </li>
      
      <li>
        <a class="box-style-m">
        <picture>
          <source
            media="(min-width: 320px)"
            
            srcset="
              ../img/components/milk_mob@1x.png 224w,
              ../img/components/milk_mob@2x.png 448w
            "
            type="image/png"
          />
          <img src="../img/components/milk_mob@1x.png" alt="" 
          class="images-components"
          width="224px" />
        </picture>
        <div class="overlay-comp">
        <ul class="list-btn-comp">
            <h3 class="header-three-comp">Milk</h3>
            <button class="btn-comp">milk</button>
            <button class="btn-comp">the benefits</button>
          </ul>
          <p class="text-overlay">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
        </div>
        <p class="text-products-m">Milk</p>
        </a>
      </li>
      <li>
        <a href="" class="box-style-n">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ../img/components/nuts_mob@1x.png 224w,
              ../img/components/nuts_mob@2x.png 448w
            "
            type="image/png"
          />
          <img src="../img/components/nuts_mob@1x.png" alt="" 
          class="images-components"
          width="224px" />
        </picture>
        <div class="overlay-comp">
        <ul class="list-btn-comp">
            <h3 class="header-three-comp">nuts</h3>
            <button class="btn-comp">nuts</button>
            <button class="btn-comp">the benefits</button>
          </ul>
          <p class="text-overlay">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
        </div>
        <p class="text-products-n">nuts</p>
        </a>
      </li>
      <li>
        <a href="" class="box-style-s">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ../img/components/semi_mob@1x.png 224w, ../img/components/semi_mob@2x.png 448w  
            "
            type="image/png"
          />
          <img src="../img/components/semi_mob@1x.png" alt="" 
          class="images-components"
          width="224px" />
          <div class="overlay-comp">
          <ul class="list-btn-comp">
            <h3 class="header-three-comp">semi - sweet chocolate</h3>
            <button class="btn-comp">sweet chocolate</button>
            <button class="btn-comp">the benefits</button>
          </ul>
          <p class="text-overlay">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
        </div>
        <p class="text-products-s">sEMI - SWEET CHOCOLATE</p>
        </a>
      </li>
    </ul>
  </div>
</section>
